<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/算法与数据结构/src/class01/Code03_InsertionSort.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="class01.Code03_InsertionSort"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="算法与数据结构"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="算法与数据结构"/>
</launchConfiguration>
